
@{
    ViewData["Title"] = "Report";
}
@model ReportRequestEvent

<label asp-for="Status" class="form-label"></label>
<a asp-controller="Person" asp-action="ReportRequest" class="btn btn-primary mb-3">Rapor oluştur</a>
